<div class="w-100 bg-light d-flex px-2">
  <p class="mr-2">Conectado a:</p>
  <select class="form-control w-50" [(ngModel)]="currentChatId" (ngModelChange)="setCurrentChatId()">
    <option *ngFor="let option of roomList$ | async" [value]="option">
      {{option}}
    </option>
  </select>
</div>
<div class="chat-container">
  <div class="message" *ngFor="let message of messages$ | async">
    <p class="body">{{message.username}}</p>
    <p class="username">{{message.body}}</p>
  </div>
</div>

username
<input type="text" [(ngModel)]="username">
<input type="textarea" [(ngModel)]="body">
<button (click)="send()">send</button>